<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row col-xs-12">
  <div class="button-group">
    <button class="btn btn-primary dropdown-toggle" type="button">
      Manage Recipe
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li href="#">To Shopping List</li>
      <li href="#">Edit Recipe</li>
      <li href="#">Delete Recipe</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Description</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>